extends r
extends latex
extends markdown

snippet meta "YAML header"
---
title: "${1:Título do documento}"
author: "${2:Pedro P. Bittencourt}"
date: "`!v strftime("%Y-%m-%d")`"
output: ${3:html_document}
---
endsnippet

snippet rc "R chunk"
\`\`\`\{r}
${1:${VISUAL}}
\`\`\`
endsnippet
